.header-bg {
	text-align: center;
	width: 100%;
	background-color: #CBCDD4;
	background: url("./assets/sunset.jpg");
	background-position: center;
	background-size: cover;
	padding: 4rem;
	color: #3f251f;
}
.subSection{
	padding: 2rem;
}

.sectionBox{
	background-color: #fff;
	padding: 2rem;
	margin: 2rem 2rem;
	border-radius: 1.5rem;
}

section{
    display: flex;
    justify-content: center;
	width: 100%;
}

img{
	margin: 2rem 2rem;
	width: 80%;
	position: relative;
}
